<section class="thirteen columns">
    <h1>Datos Personales</h1>
<section class="main-content">
<h2>
<a id="datos-personales" class="anchor" href="#datos-personales" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a><strong>Datos Personales</strong>
</h2>
<ul>
<li>
<strong>Nombre:</strong> Alejandro</li>
<li>
<strong>Apellidos:</strong> Palomino García</li>
<li>
<strong>Fecha de Nacimiento:</strong> 23/09/1990</li>
<li>
<strong>Domicilio:</strong>C/La canoa nº12</li>
<li>
<strong>Teléfono:</strong> 6551234552</li>
</ul>
