@import url(https://fonts.googleapis.com/css?family=Raleway:700,400);

body {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 21px;
    color: rgb(48, 48, 48);
    border-top: 5px solid #27a822;
    border-bottom: 5px solid #27A822;
}
